/* Font chữ Montserrat */
body {
    font-family: "Montserrat";
}

.p1 {
    Color:blue;
    Text-decoration:none;
}

img {
    align-items: center;
}

.menu {
    text-align: center;
    justify-content: space-between;
}

.menu a:visited {
    color:green;
}

.menu a {
    color:blue;
    text-decoration:none;
}

.menu a:hover {
    color: red;
    text-decoration:underline;
}
/* Style của phần footer */
footer {
    /* 
    text-align: center tự động căn giữa
    padding: 20px: thêm khoảng cách bên trong
    font-size: 16px: kích thước font chữ
    background-color: #343a40: màu của background footer
    color: white: màu chữ
    margin-top: 40px: khoảng cách phía trên
    */
    text-align: center;
    padding: 10px;
    font-size: 16px;
    background-color: #343a40;
    color: white;
    margin-top: 40px;
}

/* Style của chữ "Nguyễn Quang Minh" trong phần footer */
footer a {
    /*
    color: #f8d210: màu của chữ
    text-decoration: none: loại bỏ phần gạch chân của link
    */
    color: #f8d210;
    text-decoration: none;
}

