body {
    font-family: "Montserrat";
}

body h1 {
    font-family: "Montserrat-Bold";
    color: #f27329;
}

.album img {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    filter: grayscale(1);
    border-radius: 20px;
}

.album img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    background-color: #343a40;
    color: white;
    margin-top: 40px;
}

footer a {
    color: #f8d210;
    text-decoration: none;
}